<!DOCTYPE html>
<html>
<head>
	<title>Check Payments|Daily1$$Dollars</title>
	<meta charset="utf-8">
<link rel="icon" href="media/j.png">  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class='container'>		
<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="color:orange;">
        <span class="icon-bar" style="color:blue;"><b>-</b></span>
        <span class="icon-bar" style="color:blue"><b>-</b></span>
        <span class="icon-bar" style="color:blue;"><b>-</b></span> 
      </button>
      <a class="navbar-brand" href="#">Daily1$$Dollars</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Home</a></li>
		<li><a href="{% url  'basic_site:payments' %}">Check your payments</a></li>
		<li><a href="{% url  'basic_site:register' %}">Register</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Contact us</a></li>
   
		   <a href="{% url 'basic_site:home' %}"><li><button type='submit' class="btn btn-success">Logout</button></li> </a>

      </ul>
     
    </div>
  </div>
</div>
</nav>

<div class="container-fluid">
	<label>ID:{{7341234}}</label>
  <p>IP  address Locked for this ID </p>
  <p style="text-align: right;font-color:red;">1$</p>
	<div class="progress" style="height: 20px;">
	<div class="progress-bar bg-success"  style="width: 3%"></div>
  </div>
  <div class="container">
    
  </div>
  <label>Get Pay Now</label>
  <button class="btn btn-default"><i class="fa fa-cc-paypal"></i></button>
  <button class="btn btn-default"><i class="fa fa-cc-visa"></i></button> 
  <button class="btn btn-default"><i class="fa fa-credit-card"></i><span></span> </button>
  <button class="btn btn-default"><i class="fa fa-google-wallet"></i><span></span> </button>

</div>
<br>
<div class="container-fluid">
  <div class="well">
  <p> Once you reached 100 Dollars You can transfer money to your account</p> 
    
  </div>
</div>
<div class="container">
  <p>We verify your account and </p>
	<p>It will takes a 7 days to create a work space for your account</p>
	<p>Share link and ask your friend to join and make more money</p>
</div>
<div>
<br>
<br>

<br>
<br>
<br>
 <a href="">Privacy</a><a>Policy Earnings</a><a> Disclaimer Terms & Conditions</a> <a>Contact Us
Copyright © 2018 Daily100dollars Organisation -</a> <a>All Rights Reserved.</a>

</div>
</body>
</html>